<section>
  <div class="container cont-1">
    <div class="box">

      <div class="title">
        <span class="block"></span>
        <h4><fa-icon [icon]="faCogs" class="side-btn-icon "></fa-icon>&nbsp;Predict Analysis<span></span></h4>
      </div>

    </div>
  </div>
  <section class="container mt-5">

    <section class="row">

      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 d-flex flex-wrap justify-content-around">

        <div class="d-flex flex-column align-items-center text-center pred-box">

          <img src="https://i.ibb.co/KLLNcxH/crop-2-01.jpg" alt="crop-2-01" border="0">
          <div class="circle2">

          </div>
          <button mat-raised-button class="mt-4 btn" (click)="openCDialog()">Predict Crop</button>
        </div>

      </div>

      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 d-flex flex-wrap justify-content-around">

        <div class="d-flex flex-column align-items-center text-center pred-box">


          <img src="https://i.ibb.co/dGRgFRV/fertilizer-01.jpg" alt="fertilizer-01" border="0">
          <div class="circle2">

          </div>
          <button mat-raised-button class="mt-4 btn" (click)="openFDialog()">Predict Fertilizer</button>
        </div>

      </div>

      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 d-flex flex-wrap justify-content-around">

        <div class="d-flex flex-column align-items-center text-center pred-box">

<!--          <img src="https://i.ibb.co/Pt20wdM/disese-02-01.jpg" alt="disese-02-01" border="0">-->
          <img src="https://i.ibb.co/v1MjVb8/disese-01.jpg" alt="disese-01" border="0">
          <div class="circle2">

          </div>
          <button mat-raised-button class="mt-4 btn" >Predict Disease</button>
        </div>

      </div>

    </section>

  </section>
</section>
