<div class="container cont-1">
  <div class="box">

    <div class="title">
      <span class="block"></span>
      <h4>
        <fa-icon [icon]="faHandsHelping" class="side-btn-icon "></fa-icon>&nbsp;Colab F&C<span></span></h4>
    </div>

  </div>
</div>

<section>

  <section class="container row d-flex justify-content-around mt-4">

    <div class="p-2 col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4"
         style="width: 300px; border-radius: 9px; background: #EAE9FB;box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px">
      <div class="d-flex flex-column align-items-center justify-content-center">

        <div class="circle text-center mt-3">
          <mat-icon aria-hidden="false" aria-label="Example ballot icon" fontIcon="ballot"
                    style="color: #156AD8; font-size: 55px;width: 60px; height: 60px;margin-top: 22px">
          </mat-icon>
        </div>

        <div>
          <p class="mt-3" style="font-weight: bold; font-size: 22px">All Orders</p>
        </div>
        <div>
          <h4 class="mt-3 mb-3" style="font-weight: bold; font-size: 40px;color: #156AD8">7</h4>
        </div>
      </div>
    </div>

    <div class="p-2 col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4"
         style="width: 300px; border-radius: 9px; background: #FEF3E4;box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <div>
          <div class="circle text-center mt-3">
            <mat-icon aria-hidden="false" aria-label="Example stacked_line_chart icon" fontIcon="stacked_line_chart"
                      style="color: #e67e22; font-size: 55px;width: 60px; height: 60px;margin-top: 22px">
            </mat-icon>
          </div>
        </div>
        <div>
          <p class="mt-3" style="font-weight: bold; font-size: 22px">Ongoing Orders</p>
        </div>
        <div>
          <h4 class="mt-3 mb-3" style="font-weight: bold; font-size: 40px;color: #e67e22">2</h4>
        </div>
      </div>
    </div>

    <div class="p-2 col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4"
         style="width: 300px; border-radius: 9px; background: #E8F8F9;overflow-y: scroll;box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <div>
          <div class="circle text-center mt-3">
            <mat-icon aria-hidden="false" aria-label="Example assignment_turned_in icon" fontIcon="assignment_turned_in"
                      style="color: #40B77F; font-size: 55px;width: 60px; height: 60px;margin-top: 22px">
            </mat-icon>
          </div>
        </div>
        <div>
          <p class="mt-3" style="font-weight: bold; font-size: 22px">Finished Orders</p>
        </div>
        <div>
          <h4 class="mt-3 mb-3" style="font-weight: bold; font-size: 40px;color: #40B77F">5</h4>
        </div>
      </div>
    </div>
  </section>

</section>

<mat-tab-group dynamicHeight class="mt-4">
  <mat-tab label="Order List">
    <div class="">
      <section>

        <section class="container row d-flex justify-content-around mt-4 mb-3 p-4">

          <div class="p-2 col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6"
               style="width: 500px;height: 216px; border-radius: 9px; background: white; box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px">

            <h3 style="font-weight: bold; font-size: 1.5rem;color: #156AD8" class="mt-3 ms-4">Incoming Orders</h3>
            <div class="d-flex flex-column" style="overflow-y: scroll;width: 500px;height: 162px;">
              <div class="d-flex flex-row p-2 mt-3" style="background: #FEEBED; border-radius: 8px">
                <div class="p-2 text-center" style="border-radius: 5px; width: 60px; height: 60px">
                  <img src="https://i.ibb.co/MnzMQh0/kyle-tillar2.png" alt="kyle-tillar2" border="0">
                </div>
                <div class="ms-2">
                  <p style="font-weight: bold">Mali Yohan</p>
                  <p>available for 100kg maize order?</p>
                  <p style="color: #95979D">2023-04-13</p>
                </div>
              </div>

              <div class="d-flex flex-row p-2 mt-2" style="background: #FEEBED; border-radius: 8px">
                <div class="p-2 text-center" style="border-radius: 5px; width: 60px; height: 60px">
                  <img src="https://i.ibb.co/YPX7Hct/user-1-01.jpg" alt="user-1-01" border="0">
                </div>
                <div class="ms-2">
                  <p style="font-weight: bold">Prakash Tore</p>
                  <p>available for 50kg corn order?</p>
                  <p style="color: #95979D">2023-04-14</p>
                </div>
              </div>

              <div class="d-flex flex-row p-2 mt-2" style="background: #FEEBED; border-radius: 8px">
                <div class="p-2 text-center" style="border-radius: 5px; width: 60px; height: 60px">
                  <img src="https://i.ibb.co/6bJXXHk/photo-1566753323558-f4e0952af115.jpg"
                       alt="photo-1566753323558-f4e0952af115" border="0">
                </div>
                <div class="ms-2">
                  <p style="font-weight: bold">Ashmar Fiv</p>
                  <p>available for 150kg rice order?</p>
                  <p style="color: #95979D">2023-04-15</p>
                </div>
              </div>

            </div>

          </div>

          <div class="p-2 col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6"
               style="width: 500px;height: 216px; border-radius: 9px; background: white; box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px">

            <h3 style="font-weight: bold; font-size: 1.5rem;color: #209F2E" class="mt-3 ms-4">Ongoing Orders</h3>
            <div class="d-flex flex-column" style="overflow-y: scroll;width: 500px;height: 162px;">
              <div class="d-flex flex-row p-2 mt-3" style="background: #E7F6FC; border-radius: 8px">
                <div class="p-2 text-center" style="border-radius: 5px; width: 60px; height: 60px">
                  <img src="https://i.ibb.co/m8twTbq/free-profile-photo-whatsapp-4.png"
                       alt="free-profile-photo-whatsapp-4" border="0">
                </div>
                <div class="ms-2">
                  <p style="font-weight: bold">Lucy Plat</p>
                  <p>Ongoing 50kg Soybean order</p>
                  <p style="color: #95979D">2023-04-16</p>
                </div>
              </div>

              <div class="d-flex flex-row p-2 mt-2" style="background: #E7F6FC; border-radius: 8px">
                <div class="p-2 text-center" style="border-radius: 5px; width: 60px; height: 60px">
                  <img src="https://i.ibb.co/kB8KZf3/photo-1570295999919-56ceb5ecca61.jpg"
                       alt="photo-1570295999919-56ceb5ecca61" border="0">
                </div>
                <div class="ms-2">
                  <p style="font-weight: bold">Dc Miller</p>
                  <p>Ongoing 20kg Tomato order</p>
                  <p style="color: #95979D">2023-04-17</p>
                </div>
              </div>
            </div>
          </div>

        </section>

      </section>
    </div>
  </mat-tab>
  <mat-tab label="All Order Details">
    <div class=" mat-elevation-z4 d-flex flex-column p-2">
      <h4 style="font-weight: bold; font-size: 1.5rem;color: #209F2E" class="mt-4 ms-4">All Order Details</h4>


      <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="orderid">
          <th mat-header-cell *matHeaderCellDef> Order ID</th>
          <td mat-cell *matCellDef="let element"> {{element.orderid}} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="cus_name">
          <th mat-header-cell *matHeaderCellDef> Customer Name</th>
          <td mat-cell *matCellDef="let element"> {{element.cus_name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="desc">
          <th mat-header-cell *matHeaderCellDef> Description</th>
          <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="ord_date">
          <th mat-header-cell *matHeaderCellDef> Order date</th>
          <td mat-cell *matCellDef="let element"> {{element.ord_date}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="ord_amount">
          <th mat-header-cell *matHeaderCellDef> Amount</th>
          <td mat-cell *matCellDef="let element"> {{element.ord_amount}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status</th>
          <td mat-cell *matCellDef="let element">

            <ng-container *ngIf="element.status === 'Ongoing'">
              <div class="d-flex flex-row" style="background: #FEF3E4">
                <div class="p-1">
                  <mat-icon aria-hidden="false" aria-label="Example stacked_line_chart icon"
                            fontIcon="stacked_line_chart" style="color: #CC5E5F">
                  </mat-icon>
                </div>

                <div class="p-1 ms-1" style="font-weight: bold; color: #CC5E5F">{{element.status}}</div>
              </div>
            </ng-container>
            <ng-container *ngIf="element.status === 'Completed'">
              <div class="d-flex flex-row" style="background: #E8F8F9">
                <div class="p-1">
                  <mat-icon aria-hidden="false" aria-label="Example assignment_turned_in icon"
                            fontIcon="assignment_turned_in" style="color: #40B77F">
                  </mat-icon>
                </div>

                <div class="p-1 ms-1 " style="font-weight: bold;color: #40B77F">{{element.status}}</div>
              </div>
            </ng-container>
            <ng-container *ngIf="element.status === 'Pending'">
              <div class="d-flex flex-row" style="background: #FFDBAA">
                <div class="p-1">
                  <mat-icon aria-hidden="false" aria-label="Example pending icon" fontIcon="pending"
                            style="color: #e74c3c">
                  </mat-icon>
                </div>

                <div class="p-1 ms-1 " style="font-weight: bold;color:#e74c3c ">{{element.status}}</div>
              </div>
            </ng-container>
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef> Action</th>
          <td mat-cell *matCellDef="let element">
            <ng-container>
              <div class="d-flex flex-row">
                <div>
                  <button style="background: #e67e22" mat-mini-fab (click)="updateItem()" aria-label="Example icon button with a home icon">
                    <mat-icon>update</mat-icon>
                  </button>
                </div>
                <div class="ms-2">
                  <button style="background: #e74c3c" mat-mini-fab (click)="deleteItem()" aria-label="Example icon button with a home icon">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
              {{element.Action}}
            </ng-container>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>


    </div>
  </mat-tab>
</mat-tab-group>


