<div class="container cont-1">
  <div class="box">

    <div class="title">
      <span class="block"></span>
      <h4>
        <fa-icon [icon]="faHandsHelping" class="side-btn-icon "></fa-icon>&nbsp;Colab F&C<span></span></h4>
    </div>

  </div>
</div>

<section>

  <section class="container row d-flex justify-content-around mt-4">

    <div class="p-2 col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4"
         style="width: 300px; border-radius: 9px; background: #00AFEA">
      <div class="d-flex flex-column align-items-center justify-content-center">

          <div class="circle  text-center">
            <mat-icon aria-hidden="false" aria-label="Example ballot icon" fontIcon="ballot">ballot
            </mat-icon>
          </div>

        <div>
          <p>All Orders</p>
        </div>
        <div>
          <h4>48</h4>
        </div>
      </div>
    </div>

    <div class="p-2 col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4"
         style="width: 300px; border-radius: 9px; background: #00AFEA">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <div>
          <div class="circle  text-center">
            <mat-icon aria-hidden="false" aria-label="Example stacked_line_chart icon" fontIcon="stacked_line_chart">stacked_line_chart
            </mat-icon>
          </div>
        </div>
        <div>
          <p>Ongoing Orders</p>
        </div>
        <div>
          <h4>8</h4>
        </div>
      </div>
    </div>

    <div class="p-2 col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4"
         style="width: 300px; border-radius: 9px; background: #00AFEA">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <div>
          <div class="circle text-center">
            <mat-icon aria-hidden="false" aria-label="Example assignment_turned_in icon" fontIcon="assignment_turned_in">assignment_turned_in
            </mat-icon>
          </div>
        </div>
        <div>
          <p>Finished Orders</p>
        </div>
        <div>
          <h4>40</h4>
        </div>
      </div>
    </div>
  </section>

</section>

<section>

  <section class="container row d-flex justify-content-around mt-4">

    <div class="p-2 col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6"
         style="width: 500px; border-radius: 9px; background: #00AFEA">

      <h3 style="font-weight: bold; font-size: 1.5rem;color: #8d6e63" class="mt-3 ms-4">Incoming Orders</h3>

      <div class="d-flex flex-row p-2">
        <div class="p-2 text-center" style="background: #9a0b00;border-radius: 5px; width: 60px; height: 60px">
          <p style="color: white">2D</p>
          <p style="color: white;margin-top: -6px">due</p>
        </div>
        <div class="ms-2">
          <p>sceduled spraying was not performed</p>
          <p>maize #1</p>
        </div>
      </div>

    </div>

    <div class="p-2 col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6"
         style="width: 500px; border-radius: 9px; background: #00AFEA">

      <h3 style="font-weight: bold; font-size: 1.5rem;color: #8d6e63" class="mt-3 ms-4">Ongoing Orders</h3>

      <div class="d-flex flex-row p-2">
        <div class="p-2 text-center" style="background: #9a0b00;border-radius: 5px; width: 60px; height: 60px">
          <p style="color: white">2D</p>
          <p style="color: white;margin-top: -6px">due</p>
        </div>
        <div class="ms-2">
          <p>sceduled spraying was not performed</p>
          <p>maize #1</p>
        </div>
      </div>

    </div>

  </section>

</section>
