<section>
  <div class="container cont-1">
    <div class="box">

      <div class="title">
        <span class="block"></span>
        <h4><fa-icon [icon]="faCloudSun" class="side-btn-icon "></fa-icon>&nbsp;Weather Forecast<span></span></h4>
      </div>

    </div>
  </div>

  <img src="https://i.ibb.co/5YR7Drj/Sunny.gif" *ngIf="showLoader" alt="Sunny" class="zindx">
  <a *ngIf="!showLoader" class="weatherwidget-io mt-4" href="https://forecast7.com/en/40d71n74d01/new-york/" data-label_1="NEW YORK" data-label_2="WEATHER" data-theme="original" >NEW YORK WEATHER</a>


</section>
