<!--<section class="container-fluid mt-2">-->
<!--  <div>-->
<!--    <owl-carousel-o [options]="advertisementsOptions">-->

<!--      <ng-container *ngFor="let slide of slidesStore">-->
<!--        <ng-template carouselSlide [id]="slide.id">-->
<!--          <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title" style="background-repeat: no-repeat;background-size: cover;">-->
<!--        </ng-template>-->
<!--      </ng-container>-->

<!--    </owl-carousel-o>-->
<!--  </div>-->
<!--</section>-->
<!--<section class="row">-->
<!--  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 d-flex flex-wrap justify-content-around">-->
<!--    <div style="background: #ff5e14 ;width: 200px; height: 200px"-->
<!--         class="d-flex flex-column align-items-center text-center">-->

<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 d-flex flex-wrap justify-content-around">-->
<!--    <div style="background: #3B5998 ;width: 200px; height: 200px"-->
<!--         class="d-flex flex-column align-items-center text-center">-->

<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 d-flex flex-wrap justify-content-around">-->
<!--    <div style="background: #ff5e14 ;width: 200px; height: 200px"-->
<!--         class="d-flex flex-column align-items-center text-center">-->

<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<section class="main-menu mb-4">
<div class="main-menus"></div>
</section>

<section>
  <div class=" mt-3 mb-3 d-flex justify-content-center">
    <img src="https://i.ibb.co/85Cskxv/core-Agro-Logo2.png" class="core-Agro-Logo2" style="max-width: 38px;">
  </div>

  <div class="text-center">
  <h6 style="font-family: 'Inter';color: #B89A94;font-size: 22px" class="mat-h6">WELCOME TO CoreAgro</h6>
  </div>

  <div class="mt-3 text-center">
    <div class="d-flex justify-content-center ">
    <h2 style="font-family: 'Inter';color: #209F2E;font-size: 46px" class="mat-h2 d-flex flex-column">What We’re Offering&nbsp;</h2>
      <img src="https://i.ibb.co/BPFjsvw/icon-heading.png" alt="icon-heading" class="d-flex flex-column" border="0">
    </div>
  </div>

</section>

<section class="row mt-5">
  <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 d-flex flex-wrap justify-content-around">
    <div class="d-flex flex-column align-items-center text-center dash-box">

      <img src="https://i.ibb.co/BT10rDB/planting-1.png" alt="planting-1" class="mt-3" style="opacity: 50%">
      <div class="circle2 text-center">
        <img src="https://i.ibb.co/6nM45Xy/planting-2.png" alt="planting-2" style="margin-top: 12px;margin-left: 10.3px;">

      </div>
    <h3 class="mat-h3 mt-2" style="color: white; font-size: 33px; font-family: 'Inter';font-weight: bold">3,656+</h3>
    <h6 class="mat-h6 mt-2" style="color: white; font-size: 20px; font-family: 'Inter'">Tons of harvest</h6>
    </div>
  </div>
  <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 d-flex flex-wrap justify-content-around">
    <div class="d-flex flex-column align-items-center text-center dash-box">
      <img src="https://i.ibb.co/tx1qfgr/cow-1.png" alt="cow-1" class="mt-3" style="opacity: 50%">
      <div class="circle2">
        <img src="https://i.ibb.co/f2pYT2s/cow-2.png" alt="field-1" style="margin-top: 12px;margin-left: 10.3px;">

      </div>
      <h3 class="mat-h3 mt-2" style="color: white; font-size: 33px; font-family: 'Inter';font-weight: bold">3,656+</h3>
      <h6 class="mat-h6 mt-2" style="color: white; font-size: 20px; font-family: 'Inter'">Tons of harvest</h6>
    </div>
  </div>
  <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 d-flex flex-wrap justify-content-around">
    <div class="d-flex flex-column align-items-center text-center dash-box">
      <img src="https://i.ibb.co/74kqPnC/field.png" alt="field" class="mt-3" style="opacity: 50%">
      <div class="circle2">
        <img src="https://i.ibb.co/HVpB0QG/field-1.png" alt="cow-2" style="margin-top: 12px;margin-left: 10.3px;">

      </div>
      <h3 class="mat-h3 mt-2" style="color: white; font-size: 33px; font-family: 'Inter';font-weight: bold">3,656+</h3>
      <h6 class="mat-h6 mt-2" style="color: white; font-size: 20px; font-family: 'Inter'">Tons of harvest</h6>
    </div>
  </div>
  <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 d-flex flex-wrap justify-content-around">
    <div class="d-flex flex-column align-items-center text-center dash-box">
      <img src="https://i.ibb.co/BLG13JG/tractor.png" alt="tractor" class="mt-3" style="opacity: 50%">
      <div class="circle2">
        <img src="https://i.ibb.co/Lhtn5Bn/tractor-1.png" alt="tractor-1" style="margin-top: 12px;margin-left: 10.3px;">
      </div>
      <h3 class="mat-h3 mt-2" style="color: white; font-size: 33px; font-family: 'Inter';font-weight: bold">3,656+</h3>
      <h6 class="mat-h6 mt-2" style="color: white; font-size: 20px; font-family: 'Inter'">Tons of harvest</h6>
    </div>
  </div>
</section>
